<div th:fragment="myheader" style=" display: grid;">
    <!-- <div class="header">
        <header>
            <h2>Task management App</h2>
        </header>
    </div> -->
    <div class="header">
        <div>
            <ul>
                <li><a th:href="@{/}">Dashboard</a></li>
                <li><a th:href="@{/projects}">Projects</a></li>
                <li><a th:href="@{/calendar}">Calendar</a></li>
                <li><a th:href="@{/settings}">Settings</a></li>
                
                <!-- <li><a onclick="showPage('dashboard')">Dashboard</a></li>
                <li><a onclick="showPage('projects')">Projects</a></li>
                <li><a onclick="showPage('calendar')">Calendar</a></li>
                <li><a onclick="showPage('settings')">Settings</a></li> -->
            </ul>
            <!-- <nav class="nav">
                <a th:href="@{/}">Dashboard</a>
                <a th:href="@{/}">Projects</a>
                <a th:href="@{/}">Calendar</a>
                <a th:href="@{/}">Settings</a>
            </nav> -->
                <!-- <div class="sidebar">
            <h1>Task Manager</h1>
            <ul>
                <li><a onclick="showPage('dashboard')">Dashboard</a></li>
                <li><a onclick="showPage('projects')">Projects</a></li>
                <li><a onclick="showPage('calendar')">Calendar</a></li>
                <li><a onclick="showPage('settings')">Settings</a></li>
            </ul>
        </div> -->


        </div>
        <!-- <div>
            <nav class="nav" style="float: right" >
                <a th:href="@{/}">Login</a>
                <a th:href="@{/collection}">Logout</a>
            </nav>
        </div> -->

    </div>

</div>